@model IEnumerable<AgriculturalSupplyStore.ViewModels.TrangThaiVM>
<div class="col-md-12 text-end p-4">
    @foreach (var item in Model)
    {
        <h5 class="font-weight-bold text-warning">@item.TenTrangThai</h5>
    }
</div>