@model IEnumerable<AgriculturalSupplyStore.ViewModels.TrangThaiVM>
<div class="col-md-12 text-end p-3 border-bottom custom-border-bottom ">
    @foreach (var item in Model)
    {
        <h5 class="text-warning">@item.TenTrangThai</h5>
    }
</div>