@model IEnumerable<AgriculturalSupplyStore.ViewModels.MenuPhanVM>
<!-- Header Start -->
<div class="container-fluid bg-breadcrumb">
    <div class="container text-center py-5" style="max-width: 900px;">
        <h4 class="text-white display-4 mb-4 wow fadeInDown " data-wow-delay="0.1s">Phụ Tùng Máy</h4>
        <ol class="breadcrumb d-flex justify-content-center mb-0 wow fadeInDown" data-wow-delay="0.3s">
            <li class="breadcrumb-items "><a>Trang Chủ</a></li>
            <li class="breadcrumb-items active text-primary"><a>Phụ Tùng</a></li>
        </ol>
    </div>
</div>  
<!-- Header End -->
<div class="untree_co-section product-section before-footer-section">
    <div class="container">
        <div class="row custom-parts ">
            @foreach (var item in Model)
            {
                <div class="col-md-12 text-center mb-3 mt-5">
                    <h1 class=" nav-item active title-part">@item.TenPhan</h1>
                </div>
                <div class="col-md-5 mb-6">
                    <div class="product-info">
                        <a class="">
                            <img src="~/images/phan_images/@item.Hinh" class="img-fluid product-thumbnail">
                        </a>
                    </div>
                </div>
                <div class="col-md-6 ms-3 mb-6">
                    <div class="filtered-data">
                        @await Component.InvokeAsync("HangHoa", new { maphan = item.MaPhan })
                    </div>
                </div>
            }
        </div>
    </div>
</div>