@{
    ViewData["Title"] = "Trang Chủ";
}

<!-- End Header/Navigation -->
<!-- Start Hero Section -->
<div class="hero">
	<div class="container">
		<div class="row justify-content-between">
			<div class="col-lg-5">
				<div class="intro-excerpt">
					<h1>Sản Phẩm Máy  <span clsas="d-block">Nông Nghiệp Nặng</span></h1>
					<p class="mb-4">Nông nghiệp ngày càng được hiện đại hóa, sử dụng máy móc giúp tiết kiệm thời gian và tiền bạc trong canh tác, mang đến niềm vui cho mọi nhà..</p>
					<p><a href="" class="btn btn-secondary me-2">Sản Phẩm</a><a href="#" class="btn btn-white-outline">Khám Phá</a></p>
				</div>
			</div>
			<div class="col-lg-6">
				<div class="hero-img-wrap">
					<img src="images/logo.png" class="img-fluid">
				</div>
				<div class="" style=" position:absolute;width:700px;z-index: 3;">
					<img src="images/loaimay_images/maycat.png" class="img-fluid">
				</div>
			</div>
		</div>
	</div>
</div>
<!-- End Hero Section -->
<!-- Start Why Choose Us Section -->
<div class="why-choose-section">
	<div class="container">
		<div class="row justify-content-between">
			<div class="col-lg-6">
				<h2 class="section-title">Tại Sao Bạn Chọn Chúng Tôi</h2>
				<p>Chúng tôi cung cấp nhiều sản phẩm và dịch vụ tốt nhất trong khu vực.</p>

				<div class="row my-5">
					<div class="col-6 col-md-6">
						<div class="feature">
							<div class="icon">
								<img src="images/truck.svg" alt="Image" class="imf-fluid">
							</div>
							<h3>Hỗ trợ vận chuyển & Giao hàng liên tỉnh</h3>
							<p>Đặt hàng và nhận hàng chỉ sau 1 đến 3 ngày.</p>
						</div>
					</div>

					<div class="col-6 col-md-6">
						<div class="feature">
							<div class="icon">
								<img src="images/bag.svg" alt="Image" class="imf-fluid">
							</div>
							<h3>Dễ dàng mua sắm</h3>
							<p>Giao diện dễ dùng và thân thiện với mọi người.</p>
						</div>
					</div>

					<div class="col-6 col-md-6">
						<div class="feature">
							<div class="icon">
								<img src="images/support.svg" alt="Image" class="imf-fluid">
							</div>
							<h3>Hỗ trợ 24/7</h3>
							<p>Liên lạc và nhận được sự hỗ trợ tốt nhất từ đội ngũ chăm sóc khách hàng.</p>
						</div>
					</div>

					<div class="col-6 col-md-6">
						<div class="feature">
							<div class="icon">
								<img src="images/return.svg" alt="Image" class="imf-fluid">
							</div>
							<h3>Trả hàng miễn phí</h3>
							<p>Nếu sản phẩm không phù hợp, liên hệ đổi trả hoặc hoàn tiền.</p>
						</div>
					</div>

				</div>
			</div>

			<div class="col-lg-5">
				<div class="img-wrap">
					<img src="images/img-2.jpg" alt="Image" class="img-fluid">
				</div>
			</div>

		</div>
	</div>
</div>
<!-- End Why Choose Us Section -->
<!-- Start We Help Section -->
<div class="we-help-section">
	<div class="container">
		<div class="row justify-content-between">
			<div class="col-lg-7 mb-5 mb-lg-0">
				<div class="imgs-grid">
					<div class="grid grid-1" style="width:80%;"><img src="images/img-6.jpg" alt="Untree.co"></div>
					<div class="grid grid-2" style="margin-left:-150px;" ><img src="images/img-4.jpg" alt="Untree.co"></div>
					<div class="grid grid-3"><img src="images/img-5.jpg" alt="Untree.co"></div>
				</div>
			</div>
			<div class="col-lg-5 ps-lg-5">
				<h2 class="section-title mb-4">Chúng Tôi Giúp Bạn Canh Tác Trở Nên Dễ Dàng Hơn.</h2>
				<p>Trong nền nông nghiệp hiện đại, việc sử dụng máy móc nông nghiệp đã trở thành yếu tố không thể thiếu, đặc biệt là ở các trang trại lớn. Máy kéo, máy cày và máy gặt đập liên hợp được sử dụng rộng rãi để thực hiện các công đoạn như làm đất, gieo hạt, thu hoạch và vận chuyển nông sản. </p>

				<ul class="list-unstyled custom-list my-4">
					<li>Tăng năng suất lao động</li>
					<li>Cải thiện chất lượng sản xuấta</li>
					<li>Tiết kiệm chi phí dài hạn</li>
					<li>Giảm phụ thuộc vào điều kiện tự nhiên</li>
				</ul>
				<p><a herf="#" class="btn">Chi Tiết</a></p>
			</div>
		</div>
	</div>
</div>
<!-- End We Help Section -->
<!-- Start Testimonial Slider -->
<div class="testimonial-section">
	<div class="container">
		<div class="row">
			<div class="col-lg-7 mx-auto text-center">
				<h2 class="section-title">Sản Phẩm Nổi Bật</h2>
			</div>
		</div>

		<div class="row justify-content-center">
			<div class="col-lg-12">
				<div class="testimonial-slider-wrap text-center">

					<div id="testimonial-nav">
						<span class="prev" data-controls="prev"><span class="fa fa-chevron-left"></span></span>
						<span class="next" data-controls="next"><span class="fa fa-chevron-right"></span></span>
					</div>

					<div class="testimonial-slider">

						<div class="item">
							<div class="row justify-content-center">
								<div class="col-lg-10 mx-auto">

									<div class="testimonial-block text-center">
										<blockquote class="mb-5">
											<p>Máy kéo L5018 là một trong những thiết bị nông nghiệp quan trọng nhất, đóng vai trò không thể thiếu trong việc chuẩn bị đất trồng. Với khả năng làm đất nhanh chóng và hiệu quả, máy kéo giúp xới tung lớp đất bề mặt, phá vỡ các mảng đất cứng, đồng thời tạo luống để chuẩn bị cho việc gieo trồng. Sự ra đời của máy kéo đã giảm đáng kể sức lao động thủ công, giúp nông dân tiết kiệm thời gian và công sức. Đặc biệt, các loại máy kéo hiện đại còn được trang bị nhiều công nghệ tiên tiến, có thể cày sâu và đều trên nhiều loại địa hình khác nhau. Điều này không chỉ giúp tăng năng suất lao động mà còn đảm bảo đất trồng được tơi xốp, thông thoáng, tạo điều kiện tốt nhất cho cây trồng phát triển. Máy kéo thực sự là biểu tượng của sự tiến bộ trong nền nông nghiệp cơ giới hóa;</p>
										</blockquote>

										<div class="author-info">
											<div class="author-pic">
												<img src="~/images/loaimay_images/maykeo.png" alt="Maria Jones" class="img-fluid">
											</div>
											<h3 class="font-weight-bold">L5018</h3>
											<span class="position d-block mb-3">Máy cày Kubota.</span>
										</div>
									</div>

								</div>
							</div>
						</div>
						<!-- END item -->

						<div class="item">
							<div class="row justify-content-center">
								<div class="col-lg-8 mx-auto">

									<div class="testimonial-block text-center">
										<blockquote class="mb-5">
											<p>Máy cắt DC 78 là một thiết bị nông nghiệp hiện đại, được thiết kế để phục vụ hiệu quả cho việc thu hoạch lúa trên các cánh đồng lớn. Với khả năng gặt đập liên hợp, máy cắt DC 78 tích hợp các công đoạn từ cắt, tuốt hạt, đến đóng bao, giúp tiết kiệm thời gian và công sức cho người nông dân. Được trang bị động cơ mạnh mẽ và hệ thống bánh xích linh hoạt, máy có thể di chuyển dễ dàng trên nhiều loại địa hình, kể cả ruộng lầy lội. Ngoài ra, máy cắt DC 78 còn nổi bật với khả năng làm việc nhanh chóng, giảm thiểu hao hụt và đảm bảo chất lượng nông sản sau thu hoạch. Đây là lựa chọn lý tưởng cho các trang trại lớn hoặc những khu vực có nhu cầu thu hoạch quy mô lớn, góp phần nâng cao năng suất và hiện đại hóa ngành nông nghiệp.</p>
										</blockquote>

										<div class="author-info">
											<div class="author-pic">
												<img src="~/images/loaimay_images/maycat.png" alt="Maria Jones" class="img-fluid">
											</div>
											<h3 class="font-weight-bold">DC 78</h3>
											<span class="position d-block mb-3">Máy cắt Kubota.</span>
										</div>
									</div>

								</div>
							</div>
						</div>
						<!-- END item -->

						<div class="item">
							<div class="row justify-content-center">
								<div class="col-lg-8 mx-auto">

									<div class="testimonial-block text-center">
										<blockquote class="mb-5">
											<p>Máy cấy Kubota SPW-48C là một trong những thiết bị hiện đại hỗ trợ đắc lực cho việc cấy lúa, giúp nâng cao hiệu quả sản xuất nông nghiệp. Với thiết kế gọn nhẹ, máy có khả năng cấy chính xác các hàng lúa với khoảng cách đều nhau, đảm bảo mật độ cây trồng lý tưởng. Máy cấy Kubota SPW-48C được trang bị động cơ mạnh mẽ, dễ vận hành và tiết kiệm nhiên liệu, phù hợp cho cả các cánh đồng rộng lớn lẫn khu vực đất trũng. Đặc biệt, nhờ cơ chế tự động hóa, máy không chỉ giúp giảm đáng kể công sức lao động mà còn đảm bảo tiến độ công việc, giúp nông dân tiết kiệm thời gian và chi phí. Đây là công cụ lý tưởng để thay thế phương pháp cấy tay truyền thống, góp phần thúc đẩy quá trình cơ giới hóa trong ngành nông nghiệp.</p>
										</blockquote>

										<div class="author-info">
											<div class="author-pic">
												<img src="~/images/loaimay_images/maycay.png" alt="Maria Jones" class="img-fluid">
											</div>
											<h3 class="font-weight-bold">SPW-48C</h3>
											<span class="position d-block mb-3">Máy cấy Kubota.</span>
										</div>
									</div>

								</div>
							</div>
						</div>
						<!-- END item -->

					</div>

				</div>
			</div>
		</div>
	</div>
</div>
<!-- End Testimonial Slider -->
