<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="author" content="Untree.co">
	<link rel="shortcut icon" href="favicon.png">

	<meta name="description" content="" />
	<meta name="keywords" content="bootstrap, bootstrap5" />

	<!-- Bootstrap CSS -->
	<link href="~/css/bootstrap.min.css" rel="stylesheet">
	<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">
	<link href="~/css/tiny-slider.css" rel="stylesheet">
	<link href="~/css/style.css" rel="stylesheet">
	<title>@ViewBag.Title</title>
	@RenderSection("Styles", required: false)
</head>
<body>
	<!-- Start Header/Navigation -->
	<nav class="custom-navbar navbar navbar navbar-expand-md navbar-dark bg-dark" arial-label="Furni navigation bar">

		<div class="container">
			<a class="navbar-brand">ĐIỆP<span>.</span></a>

			<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsFurni" aria-controls="navbarsFurni" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>

			<div class="collapse navbar-collapse" id="navbarsFurni">
				<ul class="custom-navbar-nav navbar-nav ms-auto mb-2 mb-md-0">
					<li>
						<a class="nav-link" asp-controller="Home" asp-action="Index">Trang Chủ </a>
					</li>
					<li><a class="nav-link" href="">Giới Thiệu</a></li>
					<li><a class="nav-link" href="">Máy YANMAR</a></li>
					<li><a class="nav-link" href="">Máy KUBOTA</a></li>
					<li><a class="nav-link" asp-controller="HangHoa" asp-action="Index">Phụ Tùng</a></li>
					<li><a class="nav-link" href="">Liên Hệ</a></li>
					<li><a class="nav-link" asp-controller="KhachHang" asp-action="Register"><img src="">Đăng Ký</a></li>
				</ul>
				<form asp-controller="HangHoa" asp-action="Search" method="get" class=" d-flex ">
					<div class="col-auto ">
						<input type="text" class="form-search" placeholder="Tìm kiếm " name="query">
					</div>
					<div class="col-auto ms-1">
						<button class="btn btn-search" style="">
							<span class="fa fa-search"></span>
						</button>
					</div>
				</form>
				<ul class="custom-navbar-cta navbar-nav mb-2 mb-md-0 ms-5">
					<li><a class="nav-link" asp-controller="KhachHang" asp-action="Login"><img src="~/images/user.svg"></a></li>					
					@await Component.InvokeAsync("Cart")
				</ul>
			</div>
		</div>

	</nav>
	<!-- End Header/Navigation -->
	<div class="Content">
		@RenderBody()
	</div>
	<!-- Start Footer Section -->
	<footer class="footer-section">
		<div class="container relative">

			<div class="logo-img">
				<img src="~/images/logo.png" alt="Image" class="img-fluid">
			</div>

			<div class="row">
				<div class="col-lg-8">
					<div class="subscription-form">
						<h3 class="d-flex align-items-center"><span class="me-1"><img src="images/envelope-outline.svg" alt="Image" class="img-fluid"></span><span>Gửi lời nhấn cho cửa hàng</span></h3>

						<form action="#" class="row g-3">
							<div class="col-auto">
								<input type="text" class="form-control" placeholder="Tên của bạn">
							</div>
							<div class="col-auto">
								<input type="email" class="form-control" placeholder="Email của bạn">
							</div>
							<div class="col-auto">
								<button class="btn btn-primary">
									<span class="fa fa-paper-plane"></span>
								</button>
							</div>
						</form>

					</div>
				</div>
			</div>

			<div class="row g-5 mb-5">
				<div class="col-lg-4">
					<div class="mb-4 footer-logo-wrap"><a href="#" class="footer-logo">ĐIỆP<span>.</span></a></div>
					<p class="mb-4">Cửa hàng vật tư nông nghiệp Điệp. Chúng tôi luôn mang đến cho khách hàng của mình niềm tin và hài lòng. Các sản phẩm nông nghiệp đảm bảo mang đến sự hài lòng tối đa nhất cho khách hàng. Những người nông dân tuyệt vời.</p>

					<ul class="list-unstyled custom-social">
						<li><a href="#"><span class="fa fa-brands fa-facebook-f"></span></a></li>
						<li><a href="#"><span class="fa fa-brands fa-twitter"></span></a></li>
						<li><a href="#"><span class="fa fa-brands fa-instagram"></span></a></li>
						<li><a href="#"><span class="fa fa-brands fa-linkedin"></span></a></li>
					</ul>
				</div>

				<div class="col-lg-8">
					<div class="row links-wrap">
						<div class="col-6 col-sm-6 col-md-3">
							<ul class="list-unstyled">
								<li><a href="#">Giới thiệu</a></li>
								<li><a href="#">Dịch vụ</a></li>
								<li><a href="#">Trang cá nhân</a></li>
								<li><a href="#">Liên hệ</a></li>
							</ul>
						</div>

						<div class="col-6 col-sm-6 col-md-3">
							<ul class="list-unstyled">
								<li><a href="#">Hỗ trợ</a></li>
								<li><a href="#">Kiến thức cần có</a></li>
								<li><a href="#">Liên lạc</a></li>
							</ul>
						</div>

						<div class="col-6 col-sm-6 col-md-3">
							<ul class="list-unstyled">
								<li><a href="#">Công việc</a></li>
								<li><a href="#">Nhóm vận hành</a></li>
								<li><a href="#">Quản lý</a></li>
								<li><a href="#">Chính sách bảo mật</a></li>
							</ul>
						</div>

						<div class="col-6 col-sm-6 col-md-3">
							<ul class="list-unstyled">
								<li><a href="#">Máy cày nhập khẩu</a></li>
								<li><a href="#">Phụ tùng chính hãng</a></li>
								<li><a href="#">Dầu bôi trơn động cơ</a></li>
							</ul>
						</div>
					</div>
				</div>

			</div>

			<div class="border-top copyright">
				<div class="row pt-4">
					<div class="col-lg-6">
						<p class="mb-2 text-center text-lg-start">
							Copyright &copy;<script>document.write(new Date().getFullYear());</script><a href="https://untree.co"></a>  <a hreff="https://themewagon.com"></a>  <!-- License information: https://untree.co/license/ -->
						</p>
					</div>

					<div class="col-lg-6 text-center text-lg-end">
						<ul class="list-unstyled d-inline-flex ms-auto">
							<li class="me-4"><a href="#">Terms &amp; Conditions</a></li>
							<li><a href="#">Privacy Policy</a></li>
						</ul>
					</div>

				</div>
			</div>

		</div>
	</footer>
	<!-- End Footer Section -->


	<script src="~/js/bootstrap.bundle.min.js"></script>
	<script src="~/js/tiny-slider.js"></script>
	<script src="~/js/custom.js"></script>
	@RenderSection("Script", required: false)
</body>
</html>
